.scoreboard_container {
    margin: 20px;
}

.scoreboard_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scoreboard_header_title {
    font-size: 24px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.scoreboard_header_controller {
    gap: 10px;
}

.scoreboard_header_controller_warning {
    padding: 5px;
    border-radius: 5px;
    gap: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.scoreboard_header_controller_warning_img {
    width: 26px;
}

.scoreboard_header_controller_button-update {
    cursor: pointer;
    gap: 10px;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    border: none;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #eb0237;
}

.scoreboard_header_controller_button-update:active {
    background-color: #eb02389c
}

.scoreboard_header_controller_button-update_img {
    width: 24px;
}

.scoreboard_main {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 20px;
}